[project]
name = "bss-web-file-server"
version = "1.0.0"
description = "BSS file server API"
authors = [{ name = "Bence Csik", email = "22349790+csikb@users.noreply.github.com" }]
requires-python = "==3.12.12"
dependencies = [
    "fastapi[all]==0.121.1",
    "pillow==12.0.0",
    # used to health check docker compose:
    "requests==2.32.5",
]

[dependency-groups]
dev = [
    "black==25.9.0",
    "isort==7.0.0",
    "mypy==1.18.2",
    "pylint==4.0.2",
    "pre-commit==4.4.0",
    "pytest==9.0.0",
    "pytest-cov==7.0.0",
    "pytest-mock==3.15.1",
    "testcontainers==4.13.2",
]

[build-system]
requires = ["uv_build==0.9.8"]
build-backend = "uv_build"
module-name = ["bss_web_file_server"]

[tool.pytest]
addopts = [
    "--import-mode=importlib",
]

[tool.isort]
profile = "black"

[tool.mypy]
packages = "src"
